<div>
    <div class="container" style="float:left">
        <h2>
            Version Administration
        </h2>
        <div class="row">
            <div class="col-md-8">
                <a href="#/import">Upload another excel file</a><br><br>
                <label class="col-md-3 control-label">Sheet Name:</label>
                <div class="col-md-9 selectContainer">
                    <select ng-model="versionController.selectedSheet" class="form-control"
                            ng-options="sheetNameAndLatestVersion.sheetName for sheetNameAndLatestVersion in ::versionController.sheetNameAndLatestVersion">
                        <option value="">-- Choose Sheet Name --</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label class="col-md-3 control-label"> Select Version:</label>
                <div class="col-md-9 selectContainer">
                    <select ng-model="versionController.selectedVersion" class="form-control"
                            ng-options="n for n in versionController.selectedSheet.version | range">
                        <option value="">-- Choose Version --</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-md-8">
                <label class="col-md-3 control-label">&nbsp;</label>
                <div class="col-md-9">
                    <input type="button" class="btn-lg btn-success pull-left" value="Show Data" ng-click="versionController.showData()">
                </div>
            </div>
        </div>
        <span style="position: absolute; left: 50%;" us-spinner="{radius:30, width:8, length: 16}"
              spinner-key="loadingVersionSpin">
        </span>
        <table ng-if="versionController.data.length">
            <tr ng-repeat="row in ::versionController.data">
                <td ng-repeat="(key, value) in ::versionController.data[0]">{{::row[key]}}</td>
            </tr>
        </table>
    </div>
</div>