<!DOCTYPE html>
<html ng-app="diff">
<head lang="en">
    <meta charset="UTF-8">
    <style>
        ul.table {
            list-style: none;
            white-space: nowrap;
        }

        td.bg_oldValue {
            background-color: #f1c1c1;
        }

        td.bg_newValue {
            background-color: #84f172;
        }
    </style>
</head>
<body>
<div ng-controller="DiffController as diffController">
    Sheet Name:
    <select ng-model="diffController.selectedSheet"
            ng-options="sheetNameAndLatestVersion.sheetName for sheetNameAndLatestVersion in diffController.sheetNameAndLatestVersion">
        <option value="">-- Choose Sheet Name --</option>
    </select>
    Version Number:
    <select ng-model="diffController.selectedVersion"
            ng-options="n for n in diffController.selectedSheet.version | range">
        <option value="">-- Choose Version --</option>
    </select>
    <input type="button" value="Show Diff" ng-disabled="isShowingDiff" ng-click="diffController.showDiff()">
    <span>{{diffController.error}}</span>
    <hr/>
    <span ng-show="diffController.isOldNewVersionDataSame">No changes in this version.</span>
    <div ng-if="!diffController.isOldNewVersionDataSame" class="table"
         ng-repeat="rowNumbe in diffController.newVersionData.length | range : 0">
        <table border="1px solid gray">
            <tr>
                <td ng-class="{bg_oldValue: diffController.oldVersionData[rowNumbe][key] != diffController.newVersionData[rowNumbe][key]}"
                    ng-repeat="(key, value) in diffController.oldVersionData[rowNumbe]">
                    {{value}}
                </td>
            </tr>
            <tr>
                <td ng-class="{bg_newValue: diffController.oldVersionData[rowNumbe][key] != diffController.newVersionData[rowNumbe][key]}"
                    ng-repeat="(key, value) in diffController.newVersionData[rowNumbe]">
                    {{value}}
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="application/javascript" src="../node_modules/angular/angular.js"></script>
<script type="application/javascript" src="DiffController.js"></script>
</body>
</html>